<table class="table align-content-center">
    <thead>
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Ultimo chat</th>

      </tr>
    </thead>
            {{#if chats}}
        {{#each products}}
        <tr>
          <td><span>{{this.username}}</span></th>
          <td>{{this.lastUpdated}} </td>
        </tr>
        {{/each}}
      {{else}}
      </tbody>
      </table>
        Sin chats
      {{/if}}
  
  </div>
  </div>

</tbody>
</table>